* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #0d0d0d;
    color: #f6f2f2;
    line-height: 1.6;
    padding: 20px;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

strong {
    color: #617eff;
}

.texto {
    font-size: 18px;
    margin-top: 20px;
}
.imagem {
    width: 300px;
    height: auto;
    margin-top: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 300px;
}

.responsivo-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


