header {
  background-color: var(--header-bg);
  padding: 16px 24px;
  
  box-shadow: var(--bg-footer) 0px 4px 12px -4px;
}

header strong {
  color: var(--primary);
}

/* about.css */
.sobre {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  align-items: center;
  max-width: 1120px;
  margin: auto;
  padding: 64px 24px;
}

.sobre__conteudo {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.sobre__titulo {
  font-size: clamp(2rem, 4vw, 3rem);
  font-weight: 800;
  line-height: 1.2;
  color: var(--text);
}

.sobre__texto {
  font-size: 1.125rem;
  color: var(--muted);
  line-height: 1.6;
}

.sobre__imagem img {
  width: 50%;
  display: flex;
  flex-direction: row;
  border-radius: var(--radius);
  box-sizing: border-box;
  border: solid #000000 0.1px;
  padding: 5px;
}

/* Responsivo */
@media (max-width: 960px) {
  .sobre {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .sobre__imagem {
    order: -1; /* imagem acima do texto */
  }
}