/* index.css */
@import url('./global.css');
@import url('./header.css');
@import url('./footer.css');
@import url('./about.css');
@import url('./home.css'); /* estilos específicos da página inicial */