*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
}

.titulo-destaque{
    color: #22D4FD;
}
.apresentacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10%;
}

.apresentacao_conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.apresentacao_conteudo_titulo{
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 2.5rem;
    line-height: 1.2;
}

.apresentacao_conteudo_texto{
    font-family: 'Arial', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
}

.btn
{
    background-color: #22D4FD;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: fit-content;
}

img{
    max-width: 300px;
    border-radius: 10%;
}