*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
}

.titulo-destaque{
    color: #22D4FD;
}
.apresentacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10%;
}

.apresentacao_conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.apresentacao_conteudo_titulo{
    font-family: 'Krone', sans-serif;
    font-size: 2.7rem;
    line-height: 1.2;
}

.apresentacao_conteudo_texto{
    font-family: 'Krone', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
}

.apresentacao_links{
    display: flex;
    justify-content: space-between;
    gap: 0.5px;
    margin-top: 10px;
    background: rgb(6, 6, 6);
    color: blanchedalmond;
    text-decoration: none;
}

.btn{
    font-family: 'Krone', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    color: #070707;
    width: 280px;
    text-align: center;
    text-decoration: none;
    background-color: #22D4FD;
    padding: 21.5px 0;
    font-size: 24px;
    margin: 5px;
    border: 2px solid #22D4FD;
    border-radius: 16px;
    transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
    border: 2px solid #0329ff;
    background-color: #0329ff;
    color: #ffffff;
}

